.App {
  text-align: center;
}

.comA{
  background-color: blue;
  padding: 5px;
  margin: 10px;
}
.comB{
  background-color: red;
  padding: 5px;
  margin: 10px;
}
.comC{
  background-color: pink;
  padding: 5px;
  margin: 10px;
}